@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

.full {
  width: 100vw;
  height: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Inter", sans-serif;
  margin-left: -2vw;
}

.left img {
  width: 4vw;
  height: 2vw;
}

.mid ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 3vw;
}

.mid ul li {
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  color: #586a5e;
  font-family: "Inter", sans-serif;
}

.mid ul li:hover {
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.right button {
  display: none;
}

.right img {
  width: 20.92px;
  height: 24px;
}

@media screen and (max-width: 600px) {
  .full {
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vh;
    align-items: center;
    font-family: "Inter", sans-serif;
    margin-left: -2vw;
  }

  .left img {
    width: 8vh;
    height: 5vh;
  }

  .mid ul {
    display: none;
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
  }

  .right button {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 700;

    .menu {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #f8f9fa;
      padding: 20px;
      width: 200px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .right li {
        list-style-type: none;
        padding: 0;
    }
    
    .menu li:hover {
      background-color: #ddd;
    }
  }

  .right img {
    width: 20.92px;
    height: 24px;
  }
}
